.mediaImage {
    flex-shrink: 0;
    border-radius: 8px;
}

.mediaInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mediaInfo p {
    width: 800px;
}

.h1 {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffff;
}

.mediaPage {
    display: flex;
    justify-content: center;
    align-items: space-around;
    margin-top: 2rem;
    gap: 2rem;
}

.starRating {
    color: '#666';

}

.rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.overlayButtons {
    display: flex;
    gap: .5rem;
    margin-top: 0.5rem;
}

.quickFavoriteButton,
.quickShareButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 1.5rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.quickFavoriteButton:hover,
.quickShareButton:hover {
  transform: scale(1.1);
  color: #e63946;
}

.quickShareButton:hover {
  color: #0077cc; /* blue for share */
}
